Exercise from Think Stats, 2nd Edition (thinkstats2.com)<br>
Allen Downey

In [17]:
%matplotlib inline

Using the data from the BRFSS, compute the linear least squares fit for log(weight) versus height. How would you best present the estimated parameters for a model like this where one of the variables is log-transformed? If you were trying to guess someoneâ€™s weight, how much would it help to know their height?

In [61]:
import brfss
import thinkstats2
import numpy as np
import math

In [39]:
data = brfss.ReadBrfss()
data.head(5)

   age  sex    wtyrago      finalwt  wtkg2  htm3
0   82    2  76.363636   185.870345  70.91   157
1   65    2  72.727273   126.603027  72.73   163
2   48    2        NaN   181.063210    NaN   165
3   61    1  73.636364   517.926275  73.64   170
4   26    1  88.636364  1252.624630  88.64   185

The data has 6 columns with the headers: age, sex, weight one year ago, final weight, weight in kg, and height. Next we can check is this data needs cleaning

In [19]:
data.isnull().sum()

age         3653
sex            0
wtyrago    24110
finalwt        0
wtkg2      16025
htm3        5380
dtype: int64

Oh yikes, that means that a lot of the data is null. We can call the clean function in brfss

In [70]:
data = data.dropna(subset = ['age', 'wtyrago', 'wtkg2', 'htm3'])

In [71]:
data.head(5)

   age  sex    wtyrago      finalwt   wtkg2  htm3
0   82    2  34.710744   185.870345  0.7091   157
1   65    2  33.057851   126.603027  0.7273   163
3   61    1  33.471074   517.926275  0.7364   170
4   26    1  40.289256  1252.624630  0.8864   185
5   42    1  53.719008   415.161314  1.0909   183

In [75]:
blah = data.wtkg2.astype(float)

In [77]:
math.log(data.wtkg2)

TypeError: cannot convert the series to <type 'float'>

In [57]:
import math
intecept, slope = thinkstats2.LeastSquares(math.log(data.wtkg2), data.htm3)

TypeError: cannot convert the series to <type 'float'>

## Clarifying Questions

Use this space to ask questions regarding the content covered in the reading. These questions should be restricted to helping you better understand the material. For questions that push beyond what is in the reading, use the next answer field. If you don't have a fully formed question, but are generally having a difficult time with a topic, you can indicate that here as well.

## Enrichment Questions

Use this space to ask any questions that go beyond (but are related to) the material presented in this reading. Perhaps there is a particular topic you'd like to see covered in more depth. Perhaps you'd like to know how to use a library in a way that wasn't show in the reading. One way to think about this is what additional topics would you want covered in the next class (or addressed in a followup e-mail to the class). I'm a little fuzzy on what stuff will likely go here, so we'll see how things evolve.

## Additional Resources / Explorations

If you found any useful resources, or tried some useful exercises that you'd like to report please do so here. Let us know what you did, what you learned, and how others can replicate it.